@model IEnumerable<FJB.Domain.Entities.Robots.Robot>

<table class="ui celled table">
    <thead>
        <tr>
            @if (ViewBag.IsSearchView)
            {
                <th></th>
            }
            <th>Number</th>
            <th>Model</th>
            <th>Price per hour</th>
            <th>Description</th>
            <th>Specialization</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var robot in Model)
        {
            <tr>
                @if (ViewBag.IsSearchView)
                {
                    <td>
                        <input class="robot-item" type="checkbox" data-robot-id="@robot.RobotId" />
                    </td>
                }

                <td>#@robot.RobotId</td>
                <td>@robot.RobotModel.Name</td>
                <td>@robot.PricePerDay</td>
                <td>@robot.RobotModel.Description</td>
                <td>@(robot.RobotModel.RobotModelSpecializations.FirstOrDefault()?.Specialization?.Name)</td>
                <td class="center">
                    <a href="@Url.Action("RobotDetails", new {robotId = robot.RobotId})" class="compact ui button">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
