@using Rjb.WebApplication.Models
@model RJB.BLL.Models.RobotViewModel
@{
    ViewBag.Title = "Add Robot";
}


@using (Html.BeginForm("AddRobot", "Robots", FormMethod.Post, new { role = "form" }))
{
    <input id="CompanyId" name="CompanyId" value="@CurrentUser.User.UserId" type="hidden" />

    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 55px;">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="column" style="margin-top: 5px;">
            <div class="ui raised segment">
                <div class="ui blue right ribbon label">
                    <i class="registered icon"></i> Create Robot
                </div>
                <h3 style="margin-top: -20px;">Create a new robot</h3>

                <div class="ui form">
                    <div class="field">
                        <label>Robot Model</label>
                        <select class="form-control" id="RobotModelId" name="RobotModelId" placeholder="Select an option" required>
                            @foreach (var robotModel in Model.RobotModels)
                            {
                                var specialization = string.Empty;

                                if (robotModel.RobotModelSpecializations != null && robotModel.RobotModelSpecializations.Any())
                                {
                                    var specializations = robotModel.RobotModelSpecializations.Select(x => x.Specialization.Name).AsEnumerable();
                                    specialization = string.Join(" ", specializations);
                                }
                                
                                <option value="@robotModel.RobotModelId">@robotModel.Name @(!string.IsNullOrEmpty(specialization) ? $"({specialization})" : string.Empty)</option>
                            }
                        </select>
                    </div>
                    <div class="field">
                        <label>Price Per Day</label>
                        <div class="ui left icon input">
                            <input type="number" name="PricePerDay" id="PricePerDay" placeholder="Price Per Day" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Count</label>
                        <div class="ui left icon input">
                            <input type="number" name="Count" id="Count" placeholder="Count" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="margin-left-center">
                        <button type="submit" class="ui blue submit button">Create Robots</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
