@using Rjb.WebApplication.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/semantic.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="ui secondary pointing menu">
        @if (CurrentUser.User == null)
        {
            <a id="LoginNavTab" href="@Url.Action("Login", "Users")" class="item">
                Login
            </a>
        }
        else
        {
            if (CurrentUser.User.IsClient)
            {
                <a id="AddLeaseNavTab" href="@Url.Action("AddLease", "Leases")" class="item">
                    Search for robots
                </a>
                <a id="MyLeasesNavTab" href="@Url.Action("MyLeases", "Leases")" class="item">
                    My Leases
                </a>
            }
            else
            {
                <a id="MyRobotsNavTab" href="@Url.Action("CompanyRobots", "Robots")" class="item">
                    My Robots
                </a>
                <a id="AddRobotNavTab" href="@Url.Action("AddRobot", "Robots")" class="item">
                    Add Robot
                </a>
                <a id="AddRobotModelNavTab" href="@Url.Action("AddRobotModel", "Robots")" class="item">
                    Add Robot Model
                </a>
            }

            <div class="right menu">
                <a href="@Url.Action("Login", "Users")" class="ui item">
                    Logout
                </a>
            </div>
        }
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/semantic.js"></script>

    <script>
        $(document).ready(function () {
            $("select").select2();
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
