@model RJB.BLL.Models.LeaseViewModel
@{
    ViewBag.Title = "Rent a robots";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddLease", "Leases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new robot model.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <label class="col-md-2 col-md-offset-2 control-label">Specialization</label>
        <div class="col-md-6 ">
            <select id="SpecializationId" class="form-control" name="SpecializationId" required>
                @foreach (var specialization in Model.Specializations)
                {
                    <option value="@specialization.SpecializationId">@specialization.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CountRobots,
            new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-6 ">
            @Html.TextBoxFor(m => m.CountRobots, new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartDate,
            new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-6 ">
            <input type="date" name="StartDate" id="StartDate" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndDate,
            new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-6 ">
            <input type="date" name="EndDate" id="EndDate" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" class="form-control btn btn-default" value="Search robots" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
