@model RJB.BLL.Models.LeaseViewModel
@{
    ViewBag.Title = "Rent a robots";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddLease", "Leases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px;">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="column" style="margin-top: 5px;">
            <div class="ui raised segment">
                <div class="ui blue right ribbon label">
                    <i class="registered icon"></i> Rent Robots
                </div>
                <h3 style="margin-top: -20px;">Rent a robots</h3>

                <div class="ui form">
                    <div class="field">
                        <label>Specialization</label>
                        <div class="ui left icon input">
                            <select id="SpecializationId" class="form-control" name="SpecializationId" required>
                                @foreach (var specialization in Model.Specializations)
                                {
                                    <option value="@specialization.SpecializationId">@specialization.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Count Robots</label>
                        <div class="ui left icon input">
                            <input type="text" name="CountRobots" id="CountRobots" placeholder="Count Robots" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui left icon input">
                            <input type="date" name="StartDate" id="StartDate" placeholder="Start Date" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <div class="ui left icon input">
                            <input type="date" name="EndDate" id="EndDate" placeholder="End Date" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="margin-left-center">
                        <button type="submit" class="ui blue submit button">Search Robots</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
