@model RJB.BLL.Models.LeaseViewModel
@{
    ViewBag.Title = "Rent a robots";
}

<h2>@ViewBag.Title.</h2>

<div class="form-horizontal">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px; margin-bottom:20px;">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="column" style="margin-top: 5px;">
            <div class="ui raised segment">
                <div class="ui blue right ribbon label">
                    <i class="registered icon"></i> Rent Robots
                </div>
                <h3 style="margin-top: -20px;">Rent a robots</h3>

                <div class="ui form">
                    <div class="field">
                        <label>Specialization</label>
                        <div class="ui left icon input">
                            <select id="SpecializationId" class="form-control" name="SpecializationId" required>
                                @foreach (var specialization in Model.Specializations)
                                {
                                    <option value="@specialization.SpecializationId">@specialization.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui left icon input">
                            <input type="date" name="StartDate" id="StartDate" placeholder="Start Date" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <div class="ui left icon input">
                            <input type="date" name="EndDate" id="EndDate" placeholder="End Date" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="margin-left-center">
                        <button type="submit" class="ui blue submit button search-robot">Search Robots</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row robots-block-container hide">
    <div class="robots-block">

    </div>
    <div class="form-group" style="margin-top: 10px;">
        <div class="col-md-offset-5 col-md-4">
            <a href="javascript:;" class="compact ui button add-lease">
                Create Lease
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/service/httpService.js"></script>
}
