@using FJB.Domain.Entities.Robots
@using Rjb.WebApplication.Models
@model FJB.Domain.Entities.Leases.Lease
@{
    ViewBag.Title = "Complete lease";
}


@using (Html.BeginForm("CompleateLease", "Leases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="col-sm-6 col-sm-offset-3">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="column" style="margin-top: 5px;">
            <div class="ui raised segment">
                <div class="ui blue right ribbon label">
                    <i class="registered icon"></i>Complete Lease
                </div>
                <h3 style="margin-top: -20px;">Complete Lease #@Model.LeaseId</h3>

                <input id="LeaseId" name="LeaseId" value="@Model.LeaseId" type="hidden" />
                <div class="inline fields margin-bottom-5">
                    <label>Start Date:</label>
                    <span>
                        @Model.StartDate.ToShortDateString()
                    </span>
                </div>
                <div class="inline fields margin-bottom-5">
                    <label>End Date:</label>
                    <span>
                        @Model.EndDate.ToShortDateString()
                    </span>
                </div>
                <div class="inline fields margin-bottom-5">
                    <label>Total Price:</label>
                    <span>
                        @if (Model.RobotLeases != null && Model.RobotLeases.Any())
                        {
                            var days = Model.EndDate - Model.StartDate;
                            @Model.RobotLeases.Sum(x => x.Robot.PricePerDay * days.Days)
                        }
                    </span>
                </div>
                <div class="ui form">
                    <div class="field">
                        <label>Rating</label>
                        <div class="ui left icon input">
                            <select id="Rating" class="form-control" name="Rating" required>
                                <option value="@Rating.Poor">@Rating.Poor.ToString()</option>
                                <option value="@Rating.Bad">@Rating.Bad.ToString()</option>
                                <option value="@Rating.Medium">@Rating.Medium.ToString()</option>
                                <option value="@Rating.Good">@Rating.Good.ToString()</option>
                                <option value="@Rating.Excelent">@Rating.Excelent.ToString()</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label>Feedback</label>
                        <div class="ui left icon input">
                            <input type="text" name="Feedback" id="Feedback" placeholder="Feedback" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="margin-left-center">
                        <button type="submit" class="ui blue submit button">Complete Lease</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#MyLeasesNavTab").addClass('active');
        });
    </script>
}
