@using FJB.Domain.Entities.Robots
@using Rjb.WebApplication.Models
@model RJB.BLL.Models.LeaseViewModel
@{
    ViewBag.Title = "Complete lease";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("CompleateLease", "Leases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new robot model.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Feedback,
            new { @class = "col-md-2 col-md-offset-2 control-label" })
        <div class="col-md-6 ">
            @Html.TextAreaFor(m => m.Feedback, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-md-offset-2 control-label">Specialization</label>
        <div class="col-md-6 ">
            <select id="Rating" class="form-control" name="Rating" required>
                <option value="@Rating.Poor">@Rating.Poor.ToString()</option>
                <option value="@Rating.Bad">@Rating.Bad.ToString()</option>
                <option value="@Rating.Medium">@Rating.Medium.ToString()</option>
                <option value="@Rating.Good">@Rating.Good.ToString()</option>
                <option value="@Rating.Excelent">@Rating.Excelent.ToString()</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" class="form-control btn btn-default" value="Complete lease" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
